openapi: 3.0.4
info:
  title: Benchmark Rate
  description: >-
    Benchmark Rate is a tool for retrieving current risk-free reference rates
    that replaced LIBOR. It returns rates for SOFR (US), SONIA (UK), ESTR (EU),
    TONA (Japan), and SARON (Switzerland).
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/benchmarkrate:
    get:
      summary: Get Benchmark Rate
      description: Get the current value for a specific benchmark rate.
      operationId: benchmarkrate
      parameters:
        - name: rate
          in: query
          schema:
            type: string
          required: true
          description: The benchmark rate to retrieve
          example: SOFR
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  rate: SOFR
                  name: Secured Overnight Financing Rate
                  currency: USD
                  region: United States
                  administrator: Federal Reserve Bank of New York
                  value: 4.32
                  date: '2026-02-04'
                  lastUpdated: '2026-02-05T05:00:00.000Z'
                  change1d: -0.01
                  changeDirection: down
                  previousValue: 4.33
                  previousDate: '2026-02-03'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
